<div id="<%= dom_id bean %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= bean.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Roaster:</strong>
    <%= bean.roaster %>
  </p>
</div>
