<div id="<%= dom_id bean %>" class="my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= bean.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Title:</strong>
    <%= bean.title %>
  </div>
</div>
